DESARROLLO/NET/Hosteria/Hosteria.Front/Connected Services/ServicioUsuario/ServicioUsuario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioUsuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Entrada" />
  <xs:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioUsuario.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Respuesta" />
  <xs:element name="TraerUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Entrada" minOccurs="0" name="entradaUsuarioTraer" nillable="true" type="q1:EntradaUsuarioTraer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Respuesta" minOccurs="0" name="TraerUsuarioResult" nillable="true" type="q2:RespuestaUsuarioTraer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>