DESARROLLO/NET/Hosteria/Hosteria.Front/Connected Services/ServicioUsuario/ServicioUsuario2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Respuesta" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Respuesta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioUsuario.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases" />
  <xs:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioUsuario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="RespuestaUsuarioTraer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exito" type="xs:boolean" />
      <xs:element minOccurs="0" name="MotivoNoExito" type="tns:MotivoNoExitoTraerUsuario" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hosteria.Clases" minOccurs="0" name="Usuario" nillable="true" type="q1:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaUsuarioTraer" nillable="true" type="tns:RespuestaUsuarioTraer" />
  <xs:simpleType name="MotivoNoExitoTraerUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Exito" />
      <xs:enumeration value="ErrorNoControlado" />
      <xs:enumeration value="UsuarioNoExiste" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MotivoNoExitoTraerUsuario" nillable="true" type="tns:MotivoNoExitoTraerUsuario" />
  <xs:complexType name="RespuestaUsuarioLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exito" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdSesion" type="ser:guid" />
      <xs:element minOccurs="0" name="MotivoNoExito" type="tns:MotivoNoExitoLoginUsuario" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hosteria.Clases" minOccurs="0" name="Usuario" nillable="true" type="q2:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaUsuarioLogin" nillable="true" type="tns:RespuestaUsuarioLogin" />
  <xs:simpleType name="MotivoNoExitoLoginUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Exito" />
      <xs:enumeration value="ErrorNoControlado" />
      <xs:enumeration value="UsuarioNoExiste" />
      <xs:enumeration value="UsuarioClaveIncorrecta" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MotivoNoExitoLoginUsuario" nillable="true" type="tns:MotivoNoExitoLoginUsuario" />
</xs:schema>