DESARROLLO/NET/Hosteria/Hosteria.Front/Connected Services/ServicioUtils/ServicioUtils3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Respuesta" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Respuesta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RespuestaEjecutor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Datos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exito" type="xs:boolean" />
      <xs:element minOccurs="0" name="MotivoNoExito" type="tns:MotivoNoExitoEjecutor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaEjecutor" nillable="true" type="tns:RespuestaEjecutor" />
  <xs:simpleType name="MotivoNoExitoEjecutor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Exito" />
      <xs:enumeration value="ErrorNoControlado" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MotivoNoExitoEjecutor" nillable="true" type="tns:MotivoNoExitoEjecutor" />
</xs:schema>