DESARROLLO/NET/Hosteria/Hosteria.Front/Connected Services/ServicioUtils/ServicioUtils.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hosteria.Clases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRegion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Region" nillable="true" type="tns:Region" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegion" nillable="true" type="tns:ArrayOfRegion" />
  <xs:complexType name="Region">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdRegion" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Region" nillable="true" type="tns:Region" />
  <xs:complexType name="ArrayOfComuna">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comuna" nillable="true" type="tns:Comuna" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComuna" nillable="true" type="tns:ArrayOfComuna" />
  <xs:complexType name="Comuna">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdComuna" type="xs:int" />
      <xs:element minOccurs="0" name="IdRegion" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comuna" nillable="true" type="tns:Comuna" />
</xs:schema>