DESARROLLO/NET/Hosteria/Hosteria.Front/Connected Services/ServicioUtils/ServicioUtils.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioUtils" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IServicioUtils_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioUtils.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioUtils.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioUtils.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases" />
      <xsd:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioUtils.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hosteria.Negocio" />
      <xsd:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioUtils.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Respuesta" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioUtils_Regiones_InputMessage">
    <wsdl:part name="parameters" element="tns:Regiones" />
  </wsdl:message>
  <wsdl:message name="IServicioUtils_Regiones_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegionesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUtils_Comunas_InputMessage">
    <wsdl:part name="parameters" element="tns:Comunas" />
  </wsdl:message>
  <wsdl:message name="IServicioUtils_Comunas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComunasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUtils_Ejecutor_InputMessage">
    <wsdl:part name="parameters" element="tns:Ejecutor" />
  </wsdl:message>
  <wsdl:message name="IServicioUtils_Ejecutor_OutputMessage">
    <wsdl:part name="parameters" element="tns:EjecutorResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioUtils">
    <wsdl:operation name="Regiones">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUtils/Regiones" message="tns:IServicioUtils_Regiones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUtils/RegionesResponse" message="tns:IServicioUtils_Regiones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Comunas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUtils/Comunas" message="tns:IServicioUtils_Comunas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUtils/ComunasResponse" message="tns:IServicioUtils_Comunas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ejecutor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUtils/Ejecutor" message="tns:IServicioUtils_Ejecutor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUtils/EjecutorResponse" message="tns:IServicioUtils_Ejecutor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioUtils" type="tns:IServicioUtils">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Regiones">
      <soap:operation soapAction="http://tempuri.org/IServicioUtils/Regiones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Comunas">
      <soap:operation soapAction="http://tempuri.org/IServicioUtils/Comunas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ejecutor">
      <soap:operation soapAction="http://tempuri.org/IServicioUtils/Ejecutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IServicioUtils" type="tns:IServicioUtils">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IServicioUtils_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Regiones">
      <soap:operation soapAction="http://tempuri.org/IServicioUtils/Regiones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Comunas">
      <soap:operation soapAction="http://tempuri.org/IServicioUtils/Comunas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ejecutor">
      <soap:operation soapAction="http://tempuri.org/IServicioUtils/Ejecutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioUtils">
    <wsdl:port name="BasicHttpBinding_IServicioUtils" binding="tns:BasicHttpBinding_IServicioUtils">
      <soap:address location="http://localhost/Hosteria.Negocio/ServicioUtils.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IServicioUtils" binding="tns:BasicHttpsBinding_IServicioUtils">
      <soap:address location="https://amejias8.serviex.local/Hosteria.Negocio/ServicioUtils.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>