DESARROLLO/NET/Hosteria/Hosteria.Front/Connected Services/ServicioUtils/ServicioUtils1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioUtils.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases" />
  <xs:element name="Regiones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hosteria.Clases" minOccurs="0" name="RegionesResult" nillable="true" type="q1:ArrayOfRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Comunas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ComunasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hosteria.Clases" minOccurs="0" name="ComunasResult" nillable="true" type="q2:ArrayOfComuna" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>