DESARROLLO/NET/Hosteria/Hosteria.Front.Negocio/Connected Services/ServiciosEmpresa/ServicioEmpresa.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioEmpresa.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Entrada" />
  <xs:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioEmpresa.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Respuesta" />
  <xs:element name="CrearEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Entrada" minOccurs="0" name="entradaEmpresaCrear" nillable="true" type="q1:EntradaEmpresaCrear" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Respuesta" minOccurs="0" name="CrearEmpresaResult" nillable="true" type="q2:RespuestaEmpresaCrear" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Entrada" minOccurs="0" name="entradaEmpresaModificar" nillable="true" type="q3:EntradaEmpresaModificar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Respuesta" minOccurs="0" name="ModificarEmpresaResult" nillable="true" type="q4:RespuestaEmpresaModificar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Respuesta" minOccurs="0" name="ListarEmpresasResult" nillable="true" type="q5:RespuestaEmpresasListar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="rutEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Respuesta" minOccurs="0" name="TraerEmpresaResult" nillable="true" type="q6:RespuestaEmpresasTraer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>