DESARROLLO/NET/Hosteria/Hosteria.Front.Negocio/Connected Services/ServiciosEmpresa/ServicioEmpresa13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Entrada" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Entrada" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioEmpresa.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases" />
  <xs:complexType name="EntradaEmpresaCrear">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hosteria.Clases" minOccurs="0" name="empresa" nillable="true" type="q1:Empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntradaEmpresaCrear" nillable="true" type="tns:EntradaEmpresaCrear" />
  <xs:complexType name="EntradaEmpresaModificar">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hosteria.Clases" minOccurs="0" name="empresa" nillable="true" type="q2:Empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntradaEmpresaModificar" nillable="true" type="tns:EntradaEmpresaModificar" />
</xs:schema>