DESARROLLO/NET/Hosteria/Hosteria.Front.Negocio/Connected Services/ServicioReserva/ServicioReserva.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hosteria.Clases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReserva">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reserva" nillable="true" type="tns:Reserva" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReserva" nillable="true" type="tns:ArrayOfReserva" />
  <xs:complexType name="Reserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstadoReserva" type="xs:int" />
      <xs:element minOccurs="0" name="FechaDesde" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaHasta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaReserva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdReserva" type="xs:int" />
      <xs:element minOccurs="0" name="IdSucursal" type="xs:int" />
      <xs:element minOccurs="0" name="Monto" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreSucursal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutCliente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reserva" nillable="true" type="tns:Reserva" />
  <xs:complexType name="ArrayOfPasajero">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pasajero" nillable="true" type="tns:Pasajero" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPasajero" nillable="true" type="tns:ArrayOfPasajero" />
  <xs:complexType name="Pasajero">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Trabajador">
        <xs:sequence>
          <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FechaCheckin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FechaDesde" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FechaHasta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Habitacion" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Pasajero" nillable="true" type="tns:Pasajero" />
  <xs:complexType name="Trabajador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Celular" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutTrabajador" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trabajador" nillable="true" type="tns:Trabajador" />
  <xs:complexType name="ArrayOfHabitacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Habitacion" nillable="true" type="tns:Habitacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHabitacion" nillable="true" type="tns:ArrayOfHabitacion" />
  <xs:complexType name="Habitacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroHabitacion" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Habitacion" nillable="true" type="tns:Habitacion" />
</xs:schema>