DESARROLLO/NET/Hosteria/Hosteria.Front.Negocio/Connected Services/ServicioReserva/ServicioReserva.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioReserva" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IServicioReserva_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioReserva.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioReserva.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioReserva.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Entrada" />
      <xsd:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioReserva.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Respuesta" />
      <xsd:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioReserva.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioReserva_ListarReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarReserva" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ListarReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ListarPasajeros_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPasajeros" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ListarPasajeros_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPasajerosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ListarHabitaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarHabitaciones" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ListarHabitaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarHabitacionesResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioReserva">
    <wsdl:operation name="ListarReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioReserva/ListarReserva" message="tns:IServicioReserva_ListarReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioReserva/ListarReservaResponse" message="tns:IServicioReserva_ListarReserva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPasajeros">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioReserva/ListarPasajeros" message="tns:IServicioReserva_ListarPasajeros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioReserva/ListarPasajerosResponse" message="tns:IServicioReserva_ListarPasajeros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarHabitaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioReserva/ListarHabitaciones" message="tns:IServicioReserva_ListarHabitaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioReserva/ListarHabitacionesResponse" message="tns:IServicioReserva_ListarHabitaciones_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioReserva" type="tns:IServicioReserva">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarReserva">
      <soap:operation soapAction="http://tempuri.org/IServicioReserva/ListarReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPasajeros">
      <soap:operation soapAction="http://tempuri.org/IServicioReserva/ListarPasajeros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarHabitaciones">
      <soap:operation soapAction="http://tempuri.org/IServicioReserva/ListarHabitaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IServicioReserva" type="tns:IServicioReserva">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IServicioReserva_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarReserva">
      <soap:operation soapAction="http://tempuri.org/IServicioReserva/ListarReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPasajeros">
      <soap:operation soapAction="http://tempuri.org/IServicioReserva/ListarPasajeros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarHabitaciones">
      <soap:operation soapAction="http://tempuri.org/IServicioReserva/ListarHabitaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioReserva">
    <wsdl:port name="BasicHttpBinding_IServicioReserva" binding="tns:BasicHttpBinding_IServicioReserva">
      <soap:address location="http://localhost/Hosteria.Negocio/ServicioReserva.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IServicioReserva" binding="tns:BasicHttpsBinding_IServicioReserva">
      <soap:address location="https://amejias8.serviex.local/Hosteria.Negocio/ServicioReserva.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>