DESARROLLO/NET/Hosteria/Hosteria.Front.Negocio/Connected Services/ServicioReserva/ServicioReserva4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioReserva.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Entrada" />
  <xs:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioReserva.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Respuesta" />
  <xs:element name="ListarReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Entrada" minOccurs="0" name="entradaListaReservas" nillable="true" type="q1:EntradaReservaListar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Respuesta" minOccurs="0" name="ListarReservaResult" nillable="true" type="q2:RespuestaReservaListar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPasajeros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idReserva" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPasajerosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Respuesta" minOccurs="0" name="ListarPasajerosResult" nillable="true" type="q3:RespuestaReservaPasajeros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHabitaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idReserva" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHabitacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Respuesta" minOccurs="0" name="ListarHabitacionesResult" nillable="true" type="q4:RespuestaReservaHabitaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>