DESARROLLO/NET/Hosteria/Hosteria.Front.Negocio/Connected Services/ServicioReserva/ServicioReserva.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Respuesta" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Respuesta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioReserva.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/Hosteria.Negocio/ServicioReserva.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases" />
  <xs:complexType name="RespuestaReservaCrear">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exito" type="xs:boolean" />
      <xs:element minOccurs="0" name="MotivoNoExito" type="tns:MotivoNoReservaCrear" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaReservaCrear" nillable="true" type="tns:RespuestaReservaCrear" />
  <xs:simpleType name="MotivoNoReservaCrear">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Exito" />
      <xs:enumeration value="NoSeCreoReserva">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ErrorNoControlado" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MotivoNoReservaCrear" nillable="true" type="tns:MotivoNoReservaCrear" />
  <xs:complexType name="RespuestaReservaListar">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hosteria.Clases" minOccurs="0" name="Datos" nillable="true" type="q1:ArrayOfReserva" />
      <xs:element minOccurs="0" name="Exito" type="xs:boolean" />
      <xs:element minOccurs="0" name="MotivoNoExito" type="tns:MotivoNoReservaListar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaReservaListar" nillable="true" type="tns:RespuestaReservaListar" />
  <xs:simpleType name="MotivoNoReservaListar">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Exito" />
      <xs:enumeration value="SinDatos" />
      <xs:enumeration value="ErrorNoControlado" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MotivoNoReservaListar" nillable="true" type="tns:MotivoNoReservaListar" />
  <xs:complexType name="RespuestaReservaPasajeros">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hosteria.Clases" minOccurs="0" name="Datos" nillable="true" type="q2:ArrayOfPasajero" />
      <xs:element minOccurs="0" name="Exito" type="xs:boolean" />
      <xs:element minOccurs="0" name="MotivoNoExito" type="tns:MotivoNoReservaPasajeros" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaReservaPasajeros" nillable="true" type="tns:RespuestaReservaPasajeros" />
  <xs:simpleType name="MotivoNoReservaPasajeros">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Exito" />
      <xs:enumeration value="SinDatos" />
      <xs:enumeration value="ErrorNoControlado" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MotivoNoReservaPasajeros" nillable="true" type="tns:MotivoNoReservaPasajeros" />
  <xs:complexType name="RespuestaReservaHabitaciones">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hosteria.Clases" minOccurs="0" name="Datos" nillable="true" type="q3:ArrayOfHabitacion" />
      <xs:element minOccurs="0" name="Exito" type="xs:boolean" />
      <xs:element minOccurs="0" name="MotivoNoExito" type="tns:MotivoNoReservaHabitacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaReservaHabitaciones" nillable="true" type="tns:RespuestaReservaHabitaciones" />
  <xs:simpleType name="MotivoNoReservaHabitacion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Exito" />
      <xs:enumeration value="SinDatos" />
      <xs:enumeration value="ErrorNoControlado" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MotivoNoReservaHabitacion" nillable="true" type="tns:MotivoNoReservaHabitacion" />
</xs:schema>