DESARROLLO/NET/Hosteria/Hosteria.Front.Negocio/Connected Services/ServicioUsuario/ServicioUsuario3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Entrada" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hosteria.Clases.Entrada" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EntradaUsuarioTraer">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="RutUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntradaUsuarioTraer" nillable="true" type="tns:EntradaUsuarioTraer" />
  <xs:complexType name="EntradaUsuarioLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rut" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntradaUsuarioLogin" nillable="true" type="tns:EntradaUsuarioLogin" />
</xs:schema>